@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;400&family=Roboto&family=Roboto+Slab:wght@100;500&display=swap');

* {
    box-sizing: border-box;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.fundo-form {
    display: flex;
    flex: wrap;
    border: 1px solid rgb(233, 233, 233, 0.75);
    background-color: #ffffff;
    padding: 15px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(233, 233, 233, 0.75);
}

.input {
    padding: 5px;
    width: 100%;
}

.input input {
    width: 100%;
    height: 40px;
    padding-left: 7px;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: 1px solid #b1b1b1;
    box-sizing: border-box;
}

.input label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

form h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.0rem;
}